Q1.:Write a program to accept percentage from the user and display the grade according to the following criteria:
Percentage        Grade
Mark	          Grade
>90	               A
>80 and <=90	   B
>=60 and <=80	   C
below 60           D

Answer:

In [14]:
per = int(input("Enter marks"))
if per > 90:
    print("Grade is A")
elif per > 80 and per <=90:
    print("Grade is B")
elif per >=60 and per <=80:
    print("Grade is C")
else:
    print("Grade is D")

Enter marks 45

Grade is D

Q2.: Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

TAX             Cost Price(in Rs)
15%              >100000
10%              >500000 and <=100000
5%               < = 50000

Answer:

In [13]:
tax = 0
pr=int(input("Enter the price of bike"))
if pr > 100000:
        tax = 15/100*pr
elif pr >50000 and pr <=100000:
        tax = 10/100*pr
else:
    tax = 5/100*pr
print("Tax to be paid",tax)

Enter the price of bike 65000

Tax to be paid 6500.0

Q3. Accept any city from the user and display monument of that city.

City       Monument
Delhi      Red Fort
Agra       Taj Mahal
Jaipur     Jal Mahal

Answer:

In [14]:
city = input("Enter name of the city")
if city.lower()=="delhi":
    print("Monument name is : Red Fort")
elif city.lower()=="agra":
    print("Monument name is : Taj Mahal")
elif city.lower()=="jaipur":
    print("Monument name is : Jal Mahal")
else:
    print("Enter correct name of city")

Enter name of the city jaipur

Monument name is : Jal Mahal

Q4: check how many times a given number can be divided by 3 before it is less than or equal to 10?

Answer:

In [15]:
def divisible_by_3(num):
    count = 0
    while num > 10:
        num = num / 3
        count += 1
    return count

In [16]:
divisible_by_3(18)

1

Q.5: Why and when to use while loop give a details description with example.

Answer:

A While loop in Python allows a part of the code to be executed repeatedly as long as a given condition is true. The While loop in Python is also called a pre-tested loop. It is typically used when the number of iterations is not known.

A Python While loop expression/condition consists of three parts:

*A piece of code that needs to be repeated over and over
*The while keyword
*A condition that translates to either True or False

Python While Loop Syntax
while (expression):
Body of while

Python While Loop Example:

In [10]:
# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

Q.6: Use nested while loop to print 3 different pattern.

In [12]:
for i in range(1,3):
    for j in range(1,i+1):
        print('*')

*
*
*

In [12]:
for i in range(5):
    print(i)
for j in range(10):
    print(j,end=' ')

0
1
2
3
4
0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,5):
    for j in range

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [11]:
 for a in range(2,7):
        for b in range(1,a):
            print(a,b)

2 1
3 1
3 2
4 1
4 2
4 3
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
6 5

In [ ]:
Q,8: Reverse a while loop to display number from 10 to 1.
Answer:

In [30]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1